.footer__links {
	display: flex;
	list-style: none;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 605px) {
	.footer__links {
		display: flex;
		flex-direction: column;
	}
}
