.lead__subtitle {
	max-width: 640px;
	font-family: "Inter", Arial, sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	color: #ffffff;
	margin: 32px auto 0;
}

@media screen and (max-width: 691px) {
	.lead__subtitle {
		max-width: 300px;
		font-size: 20px;
		line-height: 1.15;
	}
}

@media screen and (max-width: 481px) {
	.lead__subtitle {
		max-width: 288px;
		font-size: 16px;
		line-height: 1.25;
		margin: 16px auto 0;
	}
}
